/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

// $base-color: #cc0000;
$base-color-name: dynamic(red);
$accent-color-name: dynamic(blue);

