/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
.x-menu .x-treelist-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.x-menu .x-treelist-item-wrap {
    margin-left: 0px !important;
}
